body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Courier New', Courier, monospace;
}

/* main page */

.main-container {
    margin-top: 20%;

}
.item-1 img {
    width: 60%;
    max-width: 100%;  
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.item-1 {
    margin-bottom: 5%;
}

.searcher {
    width: 80%;
    margin-right: auto;
    margin-left: auto; 
    display: flex;
    justify-content: center;
 
}

.item-2 {
    flex-grow: 9;
}

.item-2 input {
    width: 100%;
    font-size: 1.5vw;
    font-family: Courier;
    height: 2em;

}

.item-3 {
    margin-left: 2.5vw;
}

.item-3 button {
    font-size: 1.5vw;
    border: none;
    background-color: #ccc;
    border-radius: 5px;

}

.item-4 {
    margin-right: 10%;
}
.item-4 p{
    text-align: right;
    font-family: Courier;
    font-size: 1.5vw;    
}

/* resulta */

header img{
    
    width: 50%;
    max-width: 100%;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}


.search-box {

    margin-top: 1em;
    border: solid;
    border-radius: 1em;
    border-color: #aaa;
}

.search-box input {

    font-size: 1.2em;
    height: 1.6em;
    width: 45vw;
    font-family: courier;
    border: none;
    border-bottom: solid;
    border-width: 0.2em;
    border-color: #aaa;
    outline: none;

}

.search-box input:focus {
    
    border: solid;
    border-color: #60b6f7;
    border-radius: 0.5em;
    background-color: #dfeaf2;

}

.search-box li {
    display: inline-block;
    
}

.search-button {
    width: 2.3em;
    height: 2.3em;
    border: none;
    background-color: #ccc;
    font-size: 4vw;
    border-radius: 5px;
}



.results {

    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid;
    border-radius: 1em;
    padding-top: 1em;
    border-color: #aaa;
    height: 65vh;
    overflow-y: auto;

}

.results h3 {

    padding-left: 3%;

}

.box {
    
    border-bottom: solid;
    margin-bottom: 1em;
    border-bottom: solid;
    border-color: #aaa;
    background-color: #fff;
    padding: 0.5em;
  
}

ul {

    list-style-type:none;

}

.link {

    width: 9em;
    border-radius: 0.2em;
    background-color: #fff;
    border-radius: 5px;

}

@media only screen and (max-width: 769px) {
    .item-1 img {
        max-width: 100%;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    
    }

    .item-3 {
        margin-left: 4vw;
    }

    .item-2 input {
        width: 100%;
        font-size: 4vw;
        font-family: Courier;
        height: 6vw;
    
    }
    
    .item-3 button {
        /* margin-top: 0.1vw; */
        font-size: 2.8vw;
        border: none;
        background-color: #ccc;
        border-radius: 5px;
    }

    .item-4 p{
        margin-left: 10%;
        text-align: left;
        font-family: Courier;
        font-size: 3vw;    
    }

    .item-1 {
        margin-bottom: 15%;
    }

    .search-button {
        width: 2.5em;
        height: 2.5em;
        border: none;
        background-color: #ccc;
        font-size: 3vw;
        border-radius: 5px;
    }

    header img{
    
        width: 100%;
        max-width: 100%;  
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    
    }

    
}

@media only screen and (max-width: 450px) {
    .search-button {
        width: 2.5em;
        height: 2.5em;
        border: none;
        background-color: #ccc;
        font-size: 4vw;
        border-radius: 5px;
    }

    header img{
    
        width: 100%;
        max-width: 100%;  
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    
    }
}

/* results */


