<!DOCTYPE html>
<html lang="en">
<head>
<title>bookThrift</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../../App.css">
<script src="https://kit.fontawesome.com/c5a2356dc2.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
  <a href="/"><img src="../../bookThrift.png"/></a>
</header>

<div class="search-box">
  <ul>
    <li>
      <input type="text" id="search-bar" maxlength="100" placeholder="Search for books"/>
    </li>
    <li>
      <button class="search-button"><i class="fas fa-search"></i></button>
    </li>
  </ul>
  
  
</div>

<div class="results">
  
</div>


<script src="../../script.js"></script>

</body>
</html>